# build
/build
/.gradle
/bin
/ant-bin
/src/gen
/src/gen-res
/src/tmp
/doc
/jastaddj-*.zip
/jastaddj*.jar
/src/res/JavaSupportLevel.properties
/fileset.tmp
/test

# vim
*.swp

# temporary files
/tmp
/*.jar
