# build
/build/
/.gradle/
/bin/
/ant-bin/
/src/gen/
/src/gen-res/
/src/tmp/
/doc/
/jastaddj-*.zip
/jastaddj*.jar
/fileset.tmp
/test/

/java4/extendj.jar
/java4/build/
/java4/src/gen/
/java4/src/gen-res/

/java5/extendj.jar
/java5/build/
/java5/src/gen/
/java5/src/gen-res/

/java6/extendj.jar
/java6/build/
/java6/src/gen/
/java6/src/gen-res/

/java7/extendj.jar
/java7/build/
/java7/src/gen/
/java7/src/gen-res/

/java8/extendj.jar
/java8/build/
/java8/src/gen/
/java8/src/gen-res/

# eclipse
/.classpath
/.project
/.settings/

*.asc

# vim
*.swp

# temporary files
/tmp
/*.jar

# intelliJ
/.idea/
/*.iml

/update-version.sh

/NOTES
