# build artifacts
/build/
/.gradle/
/bin/
/ant-bin/
/src/gen/
/src/gen-res/
/src/tmp/
/doc/
/*.zip
/fileset.tmp
/test/
/*.jar
*.class

# eclipse
/.classpath
/.project
/.settings/

*.asc

# vim
*.swp

# temporary files
/tmp

# intelliJ
/.idea/
/*.iml

/update-version.sh

/NOTES
