## this file is used to generate java8/frontend/PrettyPrint.jadd

ClassReference [[
$TypeAccess::$if(hasTypeArgument)<$join(TypeArguments,", ")>$(endif)new]]

ArrayCtorRef [[$TypeAccess::new]]

ExprMethodReference [[
$Expr::$if(hasTypeArgument)<$join(TypeArguments,", ")>$(endif)#name]]

TypeMethodReference [[
$TypeAccess::$if(hasTypeArgument)<$join(TypeArguments,", ")>$(endif)#name]]

# TODO(jesper): refactor IntersectionCastExpr.
IntersectionCastExpr [[
($TypeAccess$if(hasTypeList) & $join(TypeLists," & ")$endif) $Expr]]

LambdaExpr [[$LambdaParameters -> $LambdaBody]]

InferredLambdaParameters [[($join(Parameters,", "))]]

InferredParameterDeclaration [[#name]]

DeclaredLambdaParameters [[($join(Parameters,", "))]]

BlockLambdaBody [[$Block]]

ExprLambdaBody [[$Expr]]
