## This file is used to generate java7/frontend/PrettyPrint.jadd.

## Stand-in methods are not pretty printed.
StandInMethodDecl [[]]

DiamondAccess [[$TypeAccess<>]]

MultiCatch [[catch ($Parameter) $Block]]

CatchParameterDeclaration [[$Modifiers$join(TypeAccessList," | ") $ID]]

ResourceDeclaration [[$TypeAccess $ID$DimsList$if(hasInit) = $Init$endif]]

TryWithResources [[try ($join(ResourceList,"; ")) $Block$if(hasCatchClause) $join(CatchClauseList," ")$endif$if(hasFinally) finally $Finally$endif]]
