## this file is used to generate java4/frontend/PrettyPrint.jadd

## CompilationUnit

CompilationUnit [[
$if(hasPackageDecl)
package $PackageDecl;

$endif
$ImportDeclList

$join(TypeDecls,"\n\n")]]

SingleTypeImportDecl [[import $Access;
]]

TypeImportOnDemandDecl [[import $Access.*;
]]

## Accesses (Type etc.)

## For parser debugging.
ParseName [[#name]]

Dot [[
$if(needsDot)
$Left.$Right
$else
$Left$Right
$endif]]

PackageAccess [[$Package]]
TypeAccess [[$if(hasPackage)$Package.$endif$ID]]
ArrayTypeAccess [[$Access[]]]
ArrayTypeWithSizeAccess [[$Access[$Expr]]]
ThisAccess [[this]]
SuperAccess [[super]]
ArrayAccess [[[$Expr]]]
ClassAccess [[class]]
VarAccess [[$ID]]
MethodAccess [[$ID($join(ArgList,", "))]]
ConstructorAccess [[$ID($join(ArgList,", "))]]

## Types

BooleanType [[boolean]]
ByteType [[byte]]
ShortType [[short]]
CharType [[char]]
IntType [[int]]
LongType [[long]]
FloatType [[float]]
DoubleType [[double]]
NullType [[null]]
VoidType [[void]]

## Statements

Block [[
{
  $join(StmtList,"\n")
}]]

EmptyStmt [[;]]

ExprStmt [[$Expr;]]

SwitchStmt [[switch ($Expr) $Block]]
LabeledStmt [[$Label:
$Stmt]]
ConstCase [[case $Value:]]
DefaultCase [[default:]]

DoStmt [[do $Stmt while($Condition);]]

# control statements
BreakStmt [[break$if(hasLabel) $Label$endif;]]
ContinueStmt [[continue$if(hasLabel) $Label$endif;]]
ReturnStmt [[return$if(hasResult) $Result$endif;]]
ThrowStmt [[throw $Expr;]]

SynchronizedStmt [[synchronized ($Expr) $Block]]

TryStmt [[try $Block $join(CatchClauseList," ")$if(hasFinally) finally $Finally$endif]]

BasicCatch [[catch ($Parameter) $Block]]

AssertStmt [[$if(hasMessage)assert $Condition : $Message;$(else)assert $Condition;$endif]]

LocalClassDeclStmt [[$ClassDecl]]

## Declarations

InstanceInitializer [[$if(!blockIsEmpty)$Block$endif]]
StaticInitializer [[$if(!blockIsEmpty)static $Block$endif]]

ClassDecl [[
$if(hasDocComment)#docComment$endif
$(Modifiers)class $ID$if(hasSuperClass) extends $SuperClass$endif$if(hasImplements) implements $join(Implementss,", ")$endif {
  $join(BodyDecls,"\n\n")
}]]

InterfaceDecl [[
$if(hasDocComment)#docComment$endif
$(Modifiers)interface $ID$if(hasSuperInterface) extends $join(SuperInterfaceList,", ")$endif {
  $join(BodyDecls,"\n\n")
}]]

FieldDecl [[
$if(!isSynthetic)
$if(hasDocComment)#docComment$endif
$Modifiers$TypeAccess $join($Declarators,", ");
$endif]]

VarDeclStmt [[
$Modifiers$TypeAccess $join($DeclaratorList,", ");]]

Declarator [[$ID$DimsList$if(hasInit) = $Init$endif]]

Dims [[[$ExprOpt$]]]

MethodDecl [[
$if(!isSynthetic)
$if(hasDocComment)#docComment$endif
$Modifiers$TypeAccess $ID($join(ParameterList,", "))$if(hasExceptions) throws $join(ExceptionList,", ")$endif$if(hasBlock) $Block$else;$endif
$endif]]

ConstructorDecl [[
$if(!isImplicitConstructor)
$if(hasDocComment)#docComment$endif
$Modifiers$ID($join(ParameterList,", "))$if(hasExceptions) throws $join(ExceptionList,", ")$endif {
  $ParsedConstructorInvocationOpt
  $join(#blockStmts,"\n")
}$endif]]

MemberClassDecl [[$ClassDecl]]

MemberInterfaceDecl [[$InterfaceDecl]]

ParameterDeclaration [[$Modifiers$TypeAccess $ID]]

## Expressions

ParExpr [[($Expr)]]

CastExpr [[($TypeAccess) $Expr]]

AssignExpr [[$Dest #printOp $Source]]

Binary [[$LeftOperand #printOp $RightOperand]]

PostIncExpr [[$Operand++]]
PostDecExpr [[$Operand--]]

PreIncExpr [[++#printPadIfPlus$Operand]]
PlusExpr   [[+#printPadIfPlus$Operand]]
PreDecExpr [[--#printPadIfMinus$Operand]]
MinusExpr  [[-#printPadIfMinus$Operand]]
BitNotExpr [[~$Operand]]
LogNotExpr [[!$Operand]]


Literal [[$LITERAL]]
StringLiteral [["#escapedLiteral"]]
CharacterLiteral [['#escapedLiteral']]
LongLiteral [[$LITERAL]]
FloatingPointLiteral [[$LITERAL]]
DoubleLiteral [[$LITERAL]]

ArrayInit [[{ $join(InitList,", ") }]]

ArrayCreationExpr [[new $TypeAccess$if(hasArrayInit) $ArrayInit$endif]]

ClassInstanceExpr [[new $Access($join(ArgList,", "))$if(hasTypeDecl)$if(hasPrintableBodyDecl) {
  $join(#bodyDecls,"\n")}$else { }$endif$endif]]

InstanceOfExpr [[$Expr instanceof $TypeAccess]]

ConditionalExpr [[$Condition ? $TrueExpr : $FalseExpr]]

Modifiers [[$if(hasModifier)$join(ModifierList," ") $endif]]

Modifier [[$ID]]
